<div class="container-fluid p-5 bg-info text-dark mt-5">
    <div class="row justify-content-center">
        <div class="first col-md-3">
            <h4>Customer Care</h4>
            <ul class="list-unstyled">
                <li><a href="#"> Help Center</a></li>
                <li><a href="#">How to Buy</a></li>
                <li><a href="#">Return and Refunds</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="second col-md-3 " >
            <h4>Payments Method</h4>
            <ul class="list-unstyled">
                <li><i class="fab fa-cc-visa fa-4x" ></i></li>
                <li><i class="fab fa-cc-mastercard fa-4x"></i></li>
            </ul>
        </div>
        <div class="third col-md-3">
            <h4>Follow Us</h4>
            <ul class="list-unstyled ">
                <li><i class="fab fa-facebook-square fa-2x"></i></li>
                <li><i class="fab fa-instagram fa-2x"></i></li>
                <li><i class="fab fa-twitter fa-2x"></i></li>

            </ul>
        </div>
    </div>
</div>