{% extends 'admin-layout.html' %}
{% load bootstrap %}
{% block title %}
    <title>Add details</title>
{% endblock%}

{% block main_content %}

<div class="container">
<div class="row">

    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Add New details</h1>
          {% include 'messages.html'%}
        <div class="card py-2 px-2">
        <form class="form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_locations | bootstrap_horizontal }}
            <button type="submit" class="btn btn-dark mt-3">Submit</button>
        </form>
    </div>
    </div>
</div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter location name"
    form_fields[2].placeholder = "Enter college description"
    form_fields[3].placeholder = "Enter stream description"

   for(field in form_fields){
   form_fields[field].className += ' my-3'
   }
</script>

{% endblock %}
