{% extends 'admin-layout.html' %}
{% block title %}
<title>All Colleges</title>
{% endblock%}

{% block main_content %}
<div class="container">
    <div class="row">


        <div class="col-md-10 offset-md-1">
            <h1 class="text-center">All Colleges</h1>
            {% include 'messages.html' %}
            <div class="card py-2 px-2">
                <a class="btn btn-dark btn-sm ms-auto"
                href="/add_locations"
                >Add New details</a>
                <div class="card card-body">

                    </div>


                <table class="table-striped">
                    <tr>
                        <th>location name</th>
                        <th>college name</th>
                        <th>stream</th>

                    </tr>
                    {% for i in locations %}
                    <tr>
                        <td> {{ i.location_name }}</td>
                        <td> {{ i.college_name}}</td>
                        <td> {{ stream }}</td>

                        <td><a class="btn btn-dark btn-sm" href="/update_college/{{i.id}}">Edit</a> &nbsp;
                            <a class="btn btn-danger btn-sm"
                               href="/delete_college/{{i.id}}"
                               onclick="return confirm('Are you sure want to delete this college?')" >Delete</a></td>

                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}

